{layout 'layouts/mainlayout.latte'}

{block title}Shopper Vision|HOME{/block}

{block content}

<!-- Nav -->
<nav>
    <img />
    <form action="">
        <input type="text" name="q">
        <button>Search</button>
    </form>
    <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Login</a></li>
        <li><button>Cart</button></li>
    </ul>
</nav>


<!-- Hero -->
 <section>
    <div></div>
    <div>
        <h1>SHOPPER VISION</h1>
        <p>motto motto motto motto motto</p>
        <div>
            <button>Register</button>
            <button>Login</button>
        </div>
    </div>
 </section>

<!-- Products -->
<section>

    <div>
        <img src="" alt="">
        <h4>Product Title </h4>
        <p>desc</p>
        <p>1000 NGN</p>
        <div>
            <button>Add To Cart</button>
            <button>Buy Now</button>
        </div>
    </div>


    <div>
        <img src="" alt="">
        <h4>Product Title </h4>
        <p>desc</p>
        <p>1000 NGN</p>
        <div>
            <button>Add To Cart</button>
            <button>Buy Now</button>
        </div>
    </div>

</section>

<!-- Footer -->
<footer>
    <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><button>Content</button></li>
    </ul>
    <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><button>Cart</button></li>
    </ul>
    <ul>
        <li><a href="#">Content</a></li>
        <li><a href="#">Content</a></li>
        <li><button>Content</button></li>
    </ul>

</footer>
{/block}
