{layout 'layouts/mainlayout_admin.latte'}

{block title}Dashboard{/block}

{block content}
<link rel="stylesheet" href="/static/css/dashboard.css">
<section id="__">
    <div id="sidebar" >
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
    </div>
    <div id="maincontent">
        <h1>Hello World</h1> 
        {$data}
    </div>
</section>




{/block}
